html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-left: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 320px);
}

.btn_container {
    padding-bottom: 2rem;
}

button {
    background: #E0E0E0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3F3F3F;
    padding: 8px 16px 8px 16px;
    border: 0;
}


button:hover, 
button:focus {
    background: #AEAEAE;
}

.section p {
    padding: 0;
    margin: 0;
}

.section {
    padding-bottom: 1rem;
}

 .outline {
    border: 1px solid #3D5AFE;
    color: #3D5AFE;
    border-radius: 6px;
    background: none;
    padding: 8px 19px 8px 20px;
    box-shadow: none;
}

.outline:hover, 
.outline:focus {
    background: rgba(41, 98, 255, 0.1);
    padding: 8px 20px 8px 19px;
    box-shadow: none;
    border: 1px solid #3D5AFE;
    color: #3D5AFE;
}

.text {
    background: white;
    color: #3D5AFE;
    box-shadow: none;
    border: none;
}

.text:hover, 
.text:focus {
    background:rgba(41, 98, 255, 0.1);
    padding: 8px 19px 8px 20px;
    box-shadow: none;
    color: #3D5AFE;
    border-radius: 6px;
}

.disabledshadow:hover,
.disabledshadow {
    color: #FFFFFF;
    background: #3D5AFE;
    box-shadow: none;
}

.disabled:hover,
.disabled {
    color: #9E9E9E;
    background: #E0E0E0;
    padding: 8px 13px 8px 13px;
    box-shadow: none;
}

.disabledText:hover,
.disabledText {
    color: #9E9E9E;
    background: none;
    box-shadow: none;
}

.endIcon:hover,
.startIcon:hover,
.endIcon,
.startIcon {
    color: #FFFFFF;
    background: #2962FF;
}

.small:hover,
.small {
    color: #FFFFFF;
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    padding: 6px 12px 6px 12px;
}

.medium:hover,
.medium {
    color: #FFFFFF;
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    padding: 8px 16px 8px 16px;
}

.large:hover,
.large {
    color: #FFFFFF;
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    padding: 11px 22px 11px 22px;
}

.primary {
    color: #FFFFFF;
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
}

.secondary {
    color: #FFFFFF;
    background: #455A64;
    box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
}

.danger {
    color: #FFFFFF;
    background: #D32F2F;
    box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
}

.primary:hover {
    background: #0039CB;
}

.secondary:hover {
    background: #1C313A;
}

.danger:hover {
    background: #9A0007;
}

